nav {
    display: block;
}

nav ul {
    display: inline-block;
}

nav ul li a {
    color: red;
}

nav ul li a ::-webkit-input-placeholder {
    color: red;
}

nav ul li a ::-moz-placeholder {
    color: red;
}

nav ul li a :-ms-input-placeholder {
    color: red;
}

nav ul li a ::-ms-input-placeholder {
    color: red;
}

nav ul li a ::placeholder {
    color: red;
}

footer .container .column {
    padding: 10px;
    margin: 20px 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
